#  Gradle 관련
.gradle/
**/build/
!src/**/build/
build/
local.properties
*.log

# Android Studio / IntelliJ IDEA
.idea/
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
captures/
.externalNativeBuild/
.cxx/

# 빌드 산출물
*.apk
output.json

# Android 프로파일링
*.hprof

# Kotlin 관련
.kotlin

# macOS / JetBrains Fleet
.DS_Store
.fleet

# Xcode / Apple 개발환경
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
xcuserdata
